body{
  background-color: rgb(39, 151, 241);
}
 .App {
  font-family: sans-serif;
  /* text-align: center; */
} 
.Card:hover{
  background-color: rgb(243, 244, 245);
  transform: scale(1.5); 
}
.Card{
  border: 2px solid rgb(37, 37, 37);
  width: 250px;
  height: 300px;
  margin-top: 100px;
  text-align: center;
  border-radius: 8px;
  background-color: azure;
}
.button:hover{
  background-color: rgb(39, 151, 241);
  transform: scale(1.5); 
}
.button{
  cursor: pointer;
  background-color: rgb(144, 192, 231);
  border-radius: 8px;
}
.toalign{
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-around;
}